
#####Scrapy snippet#####

snippet scSpider "spider class" b 
class ${1:SpiderName}(scrapy.Spider):
	name = "${2:$1}"
	allowed_domains = ["${3:domainName}"]
	start_urls = [
		${4:url_list}
	]
	
	def parse(self, response):
		${5:code}
endsnippet

snippet scItem "item" b
class ${1:itemName}(scrapy.Item):
	${2:element} = scrapy.Field()
endsnippet

snippet coding "uft-8" b
# -*- coding: utf-8 -*-
endsnippet
